
.my{
  background: url('../assets/imgs/manhua.png');
  transform: rotateX(10);
  border-radius: 5px;
  width: 200px;
  height: 200px;
}
.my-block{
  background: url('../assets/imgs/manhua.png');
  transform: rotateX(10);
  border-radius: 5px;
  width: 200px;
  height: 200px;
}
.box{
  background: url('../assets/imgs/manhua.png');
  transform: rotateX(10);
  border-radius: 5px;
  width: 200px;
  height: 200px;
}
.small-box{
   background: url('../assets/imgs/manhua.png');
   transform: rotateX(10);
   border-radius: 5px;
   width: 200px;
   height: 200px;
 }
.big-box{
    background: url('../assets/imgs/manhua.png');
    transform: rotateX(10);
    border-radius: 5px;
    width: 200px;
    height: 200px;
  }

